
java/avro/.idea/
java/avro/.gradle/
java/avro/build/

java/schema-registry/.idea/
java/schema-registry/.gradle/
java/schema-registry/build/

java/lab10/solution/.idea/
java/lab10/solution/.gradle/
java/lab10/build/

java/lab1/solution/.idea/
java/lab1/solution/.gradle/
java/lab1/solution/build/


java/lab2/.idea/
java/lab2/build/
java/lab2/out/
java/lab2/.gradle/
java/lab2/build/
java/lab2/out/
java/lab2/solution/.idea/
java/lab2/solution/build/
java/lab2/solution/out/
java/lab2/solution/.gradle/
java/lab2/solution/build/
java/lab2/solution/out/

java/lab3/.idea/
java/lab3/.gradle/
java/lab3/build/
java/lab3/out/
java/lab3/solution/.idea/
java/lab3/solution/.gradle/
java/lab3/solution/build/
java/lab3/solution/out/

java/lab4/.idea/
java/lab4/.gradle/
java/lab4/build/
java/lab4/out/
java/lab4/solution/.idea/
java/lab4/solution/.gradle/
java/lab4/solution/build/
java/lab4/solution/out/


java/lab5/.idea/
java/lab5/.gradle/
java/lab5/build/
java/lab5/out/
java/lab5/solution/.idea/
java/lab5/solution/.gradle/
java/lab5/solution/build/
java/lab5/solution/out/

java/lab5.1/.idea/
java/lab5.1/.gradle/
java/lab5.1/build/
java/lab5.1/out/
java/lab5.1/solution/.idea/
java/lab5.1/solution/.gradle/
java/lab5.1/solution/build/
java/lab5.1/solution/out/

java/lab5.2/.idea/
java/lab5.2/.gradle/
java/lab5.2/build/
java/lab5.2/out/
java/lab5.2/solution/.idea/
java/lab5.2/solution/.gradle/
java/lab5.2/solution/build/
java/lab5.2/solution/out/

java/lab5.3/.idea/
java/lab5.3/.gradle/
java/lab5.3/build/
java/lab5.3/out/
java/lab5.3/solution/.idea/
java/lab5.3/solution/.gradle/
java/lab5.3/solution/build/
java/lab5.3/solution/out/

java/lab5.4/.idea/
java/lab5.4/.gradle/
java/lab5.4/build/
java/lab5.4/out/
java/lab5.4/solution/.idea/
java/lab5.4/solution/.gradle/
java/lab5.4/solution/build/
java/lab5.4/solution/out/

java/lab5.5/.idea/
java/lab5.5/.gradle/
java/lab5.5/build/
java/lab5.5/out/
java/lab5.5/solution/.idea/
java/lab5.5/solution/.gradle/
java/lab5.5/solution/build/
java/lab5.5/solution/out/

java/lab5.6/.idea/
java/lab5.6/.gradle/
java/lab5.6/build/
java/lab5.6/out/
java/lab5.6/solution/.idea/
java/lab5.6/solution/.gradle/
java/lab5.6/solution/build/
java/lab5.6/solution/out/

java/lab5.7/.idea/
java/lab5.7/.gradle/
java/lab5.7/build/
java/lab5.7/out/
java/lab5.7/solution/.idea/
java/lab5.7/solution/.gradle/
java/lab5.7/solution/build/
java/lab5.7/solution/out/

java/lab5.8/.idea/
java/lab5.8/.gradle/
java/lab5.8/build/
java/lab5.8/out/
java/lab5.8/solution/.idea/
java/lab5.8/solution/.gradle/
java/lab5.8/solution/build/
java/lab5.8/solution/out/

java/lab5.PRIME/.idea/
java/lab5.PRIME/.gradle/
java/lab5.PRIME/build/
java/lab5.PRIME/out/
java/lab5.PRIME/solution/.idea/
java/lab5.PRIME/solution/.gradle/
java/lab5.PRIME/solution/build/
java/lab5.PRIME/solution/out/

java/lab6/.idea/
java/lab6/.gradle/
java/lab6/build/
java/lab6/out/
java/lab6/solution/.idea/
java/lab6/solution/.gradle/
java/lab6/solution/build/
java/lab6/solution/out/

java/lab6.1/.idea/
java/lab6.1/.gradle/
java/lab6.1/build/
java/lab6.1/out/
java/lab6.1/solution/.idea/
java/lab6.1/solution/.gradle/
java/lab6.1/solution/build/
java/lab6.1/solution/out/

java/lab6.2/.idea/
java/lab6.2/.gradle/
java/lab6.2/build/
java/lab6.2/out/
java/lab6.2/solution/.idea/
java/lab6.2/solution/.gradle/
java/lab6.2/solution/build/
java/lab6.2/solution/out/

java/lab6.3/.idea/
java/lab6.3/.gradle/
java/lab6.3/build/
java/lab6.3/out/
java/lab6.3/solution/.idea/
java/lab6.3/solution/.gradle/
java/lab6.3/solution/build/
java/lab6.3/solution/out/

java/lab6.4/.idea/
java/lab6.4/.gradle/
java/lab6.4/build/
java/lab6.4/out/
java/lab6.4/solution/.idea/
java/lab6.4/solution/.gradle/
java/lab6.4/solution/build/
java/lab6.4/solution/out/

java/lab6.5/.idea/
java/lab6.5/.gradle/
java/lab6.5/build/
java/lab6.5/out/
java/lab6.5/solution/.idea/
java/lab6.5/solution/.gradle/
java/lab6.5/solution/build/
java/lab6.5/solution/out/

java/lab6.6/.idea/
java/lab6.6/.gradle/
java/lab6.6/build/
java/lab6.6/out/
java/lab6.6/solution/.idea/
java/lab6.6/solution/.gradle/
java/lab6.6/solution/build/
java/lab6.6/solution/out/

java/lab6.7/.idea/
java/lab6.7/.gradle/
java/lab6.7/build/
java/lab6.7/out/
java/lab6.7/solution/.idea/
java/lab6.7/solution/.gradle/
java/lab6.7/solution/build/
java/lab6.7/solution/out/

java/lab6.PRIME/.idea/
java/lab6.PRIME/.gradle/
java/lab6.PRIME/build/
java/lab6.PRIME/out/
java/lab6.PRIME/solution/.idea/
java/lab6.PRIME/solution/.gradle/
java/lab6.PRIME/solution/build/
java/lab6.PRIME/solution/out/

java/lab7.1/.idea/
java/lab7.1/.gradle/
java/lab7.1/build/
java/lab7.1/out/
java/lab7.1/solution/.idea/
java/lab7.1/solution/.gradle/
java/lab7.1/solution/build/
java/lab7.1/solution/out/

java/lab7.2/.idea/
java/lab7.2/.gradle/
java/lab7.2/build/
java/lab7.2/out/
java/lab7.2/solution/.idea/
java/lab7.2/solution/.gradle/
java/lab7.2/solution/build/
java/lab7.2/solution/out/

java/lab8.1/.idea/
java/lab8.1/.gradle/
java/lab8.1/build/
java/lab8.1/out/
java/lab8.1/solution/.idea/
java/lab8.1/solution/.gradle/
java/lab8.1/solution/build/
java/lab8.1/solution/out/

java/lab8.2/.idea/
java/lab8.2/.gradle/
java/lab8.2/build/
java/lab8.2/out/
java/lab8.2/solution/.idea/
java/lab8.2/solution/.gradle/
java/lab8.2/solution/build/
java/lab8.2/solution/out/

java/lab8.3/.idea/
java/lab8.3/.gradle/
java/lab8.3/build/
java/lab8.3/out/
java/lab8.3/solution/.idea/
java/lab8.3/solution/.gradle/
java/lab8.3/solution/build/
java/lab8.3/solution/out/

java/lab8.4/.idea/
java/lab8.4/.gradle/
java/lab8.4/build/
java/lab8.4/out/
java/lab8.4/solution/.idea/
java/lab8.4/solution/.gradle/
java/lab8.4/solution/build/
java/lab8.4/solution/out/

java/lab9/.idea/
java/lab9/.gradle/
java/lab9/build/
java/lab9/out/
java/lab9/solution/.idea/
java/lab9/solution/.gradle/
java/lab9/solution/build/
java/lab9/solution/out/

java/lab10/.idea/
java/lab10/.gradle/
java/lab10/build/
java/lab10/out/
java/lab10/solution/.idea/
java/lab10/solution/.gradle/
java/lab10/solution/build/
java/lab10/solution/out/



java/lab1.2/.idea/
java/lab1/.idea/
java/lab2/.idea/
java/lab3/.idea/
java/lab3/.idea/


java/lab6.2/.idea/
java/lab6.2/solution/.idea/
java/lab6.2/solution/.gradle/
java/lab6.2/solution/build/

java/lab6.6/.idea/
java/lab6.6/solution/.idea/
java/lab6.6/solution/.gradle/
java/lab6.6/solution/build/

java/lab6.7/.idea/
java/lab6.7/solution/.idea/
java/lab6.7/solution/.gradle/
java/lab6.7/solution/build/

java/lab7.1/.idea/
java/lab7.1/.gradle/
java/lab7.1/solution/.idea/
java/lab7.1/solution/.gradle/
java/lab7.1/solution/build/


java/lab7.2/.idea/
java/lab7.2/.gradle/
java/lab7.2/solution/.idea/
java/lab7.2/solution/.gradle/
java/lab7.2/solution/build/


java/lab8.1/.idea/
java/lab8.1/.gradle/
java/lab8.1/build/
java/lab8.1/solution/.idea/
java/lab8.1/solution/.gradle/
java/lab8.1/solution/build/


java/lab8.2/.idea/
java/lab8.2/.gradle/
java/lab8.2/build/
java/lab8.2/solution/.idea/
java/lab8.2/solution/.gradle/
java/lab8.2/solution/build/

java/lab8.3/.idea/
java/lab8.3/.gradle/
java/lab8.3/build/
java/lab8.3/solution/.idea/
java/lab8.3/solution/.gradle/
java/lab8.3/solution/build/


java/lab8.4/.idea/
java/lab8.4/.gradle/
java/lab8.4/build/
java/lab8.4/solution/.idea/
java/lab8.4/solution/.gradle/
java/lab8.4/solution/build/


java/lab9/.idea/
java/lab9/.gradle/
java/lab9/build/
java/lab9/out/
java/lab9/solution/.idea/
java/lab9/solution/.gradle/
java/lab9/solution/build/
java/lab9/solution/out/

java/lab10/.idea/
java/lab10/.gradle/
java/lab10/build/
java/lab10/out/
java/lab10/solution/.idea/
java/lab10/solution/.gradle/
java/lab10/solution/build/
java/lab10/solution/out/

.idea/

streaming-data-platform.iml

.gradle/

java/avro/out/

java/stream-lab1-2/build/
java/stream-lab1-2/out/
java/stream-lab1-2/.idea/
java/stream-lab1-2/solution/build/
java/stream-lab1-2/solution/out/
java/stream-lab1-2/solution/.idea/
