
java/avro/.idea/
java/avro/.gradle/
java/avro/build/

java/schema-registry/.idea/
java/schema-registry/.gradle/
java/schema-registry/build/

java/lab10/solution/.idea/
java/lab10/solution/.gradle/
java/lab10/build/

java/lab1/solution/.idea/
java/lab1/solution/.gradle/
java/lab1/solution/build/


java/lab2/solution/.idea/
java/lab2/solution/.gradle/
java/lab2/solution/build/


java/lab3/solution/.idea/
java/lab3/solution/.gradle/
java/lab3/solution/build/



java/lab4/solution/.idea/
java/lab4/solution/.gradle/
java/lab4/solution/build/


java/lab5/solution/.idea/
java/lab5/solution/.gradle/
java/lab5/solution/build/



java/lab6/solution/.idea/
java/lab6/solution/.gradle/
java/lab6/solution/build/

java/lab6.1/solution/.idea/
java/lab6.1/solution/.gradle/
java/lab6.1/solution/build/

java/lab6.2/solution/.idea/
java/lab6.2/solution/.gradle/
java/lab6.2/solution/build/

java/lab6.3/solution/.idea/
java/lab6.3/solution/.gradle/
java/lab6.3/solution/build/


java/lab7/solution/.idea/
java/lab7/solution/.gradle/
java/lab7/solution/build/


java/lab8/solution/.idea/
java/lab8/solution/.gradle/
java/lab8/solution/build/

java/lab8.1/solution/.idea/
java/lab8.1/solution/.gradle/
java/lab8.1/solution/build/


java/lab8.2/solution/.idea/
java/lab8.2/solution/.gradle/
java/lab8.2/solution/build/


java/lab8.3/solution/.idea/
java/lab8.3/solution/.gradle/
java/lab8.3/solution/build/

java/lab8.4/solution/.idea/
java/lab8.4/solution/.gradle/
java/lab8.4/solution/build/

java/lab9/solution/.idea/
java/lab9/solution/.gradle/
java/lab9/solution/build/


java/lab1.2/.idea/
java/lab1/.idea/
java/lab2/.idea/
java/lab3/.idea/
java/lab3/.idea/


java/lab5.1/.idea/
java/lab5.1/solution/.idea/
java/lab5.1/solution/.gradle/
java/lab5.1/solution/build/

java/lab5.2/.idea/
java/lab5.2/solution/.idea/
java/lab5.2/solution/.gradle/
java/lab5.2/solution/build/


java/lab5.3/.idea/
java/lab5.3/solution/.idea/
java/lab5.3/solution/.gradle/
java/lab5.3/solution/build/


java/lab5.4/.idea/
java/lab5.4/solution/.idea/
java/lab5.4/solution/.gradle/
java/lab5.4/solution/build/


java/lab5.5/.idea/
java/lab5.5/solution/.idea/
java/lab5.5/solution/.gradle/
java/lab5.5/solution/build/


java/lab6.PRIME/.idea/
java/lab6.PRIME/solution/.idea/
java/lab6.PRIME/solution/.gradle/
java/lab6.PRIME/solution/build/




java/lab6.1/.idea/
java/lab6.1/solution/.idea/
java/lab6.1/solution/.gradle/
java/lab6.1/solution/build/

java/lab6.2/.idea/
java/lab6.2/solution/.idea/
java/lab6.2/solution/.gradle/
java/lab6.2/solution/build/


java/lab6.3/.idea/
java/lab6.3/solution/.idea/
java/lab6.3/solution/.gradle/
java/lab6.3/solution/build/


java/lab6.4/.idea/
java/lab6.4/solution/.idea/
java/lab6.4/solution/.gradle/
java/lab6.4/solution/build/


java/lab6.5/.idea/
java/lab6.5/solution/.idea/
java/lab6.5/solution/.gradle/
java/lab6.5/solution/build/



java/lab5.6/.idea/
java/lab5.6/solution/.idea/
java/lab5.6/solution/.gradle/
java/lab5.6/solution/build/


java/lab5.7/.idea/
java/lab5.7/solution/.idea/
java/lab5.7/solution/.gradle/
java/lab5.7/solution/build/

java/lab5.8/.idea/
java/lab5.8/solution/.idea/
java/lab5.8/solution/.gradle/
java/lab5.8/solution/build/

java/lab6.1/.idea/
java/lab6.1/solution/.idea/
java/lab6.1/solution/.gradle/
java/lab6.1/solution/build/

java/lab6.PRIME/.idea/
java/lab6.PRIME/solution/.idea/
java/lab6.PRIME/solution/.gradle/
java/lab6.PRIME/solution/build/
l

java/lab6.2/.idea/
java/lab6.2/solution/.idea/
java/lab6.2/solution/.gradle/
java/lab6.2/solution/build/

java/lab6.6/.idea/
java/lab6.6/solution/.idea/
java/lab6.6/solution/.gradle/
java/lab6.6/solution/build/

